<div class="business">
    <div class="business__container container">
        <div class="business__title title">Crypto opportunities for any type of business</div>
        <div class="business__text text">
            Expand your business abilities with crypto processing, which can be applied to any modern industry or
            service.
        </div>
        <div class="business__columns">
            <div class="business__item">
                <div class="business__item-img">
                    <img src="..//assets/img/business/hero.webp" alt="Gambling Betting" />
                </div>
                <div class="business__item-text title">Gambling Betting</div>
            </div>

            <div class="business__item">
                <div class="business__item-img">
                    <img src="..//assets/img/business/forex.webp" alt="Forex and Crypto Brokers" />
                </div>
                <div class="business__item-text title">Forex and Crypto Brokers</div>
            </div>

            <div class="business__item">
                <div class="business__item-img">
                    <img src="..//assets/img/business/e.webp" alt="E-Commerce" />
                </div>
                <div class="business__item-text title">E-Commerce</div>
            </div>

            <div class="business__item">
                <div class="business__item-img">
                    <img src="..//assets/img/business/cloud.webp" alt="Cloud Gaming" />
                </div>
                <div class="business__item-text title">Cloud Gaming</div>
            </div>

            <div class="business__item">
                <div class="business__item-img">
                    <img src="..//assets/img/business/nft.webp" alt="NFT marketplaces" />
                </div>
                <div class="business__item-text title">NFT marketplaces</div>
            </div>

            <div class="business__item">
                <div class="business__item-img">
                    <img src="..//assets/img/business/psp.webp" alt="PSPs" />
                </div>
                <div class="business__item-text title">PSPs</div>
            </div>
        </div>

        <div class="business__block">
            <div class="business__row">
                <div class="business__row-title title">Unleash your financial potential!</div>
                <div class="business__row-text text">
                    Discover new business opportunities with cryptocurrency payments.
                </div>
                <button class="business__button button">Try it now</button>
            </div>
            <div class="business__image">
                <img class="business__image-wonan" src="..//assets/img/business/woman.webp" alt="woman" />
                <img class="business__image-btc" src="..//assets/img/business/btc.webp" alt="BTC" />
                <img class="business__image-pay" src="..//assets/img/business/pay.webp" alt="pay" />
                <img class="business__image-time" src="..//assets/img/business/time.webp" alt="time" />
                <img class="business__image-tick" src="..//assets/img/business/tick.webp" alt="tick" />
            </div>
        </div>
    </div>
</div>
