<div class="global">
    <div class="global__container container">
        <div class="global__text-background">Why Cryptix</div>
        <div class="global__item">
            <div class="global__title title">Global</div>
            <div class="global__text text">
                Get instant access to accepting payments, sending, and exchanging cryptocurrencies whenever and wherever
                you are in the world.
            </div>
        </div>
        <div class="global__img">
            <img class="global__img-cursor" src="..//assets/img/global/left.svg" alt="left arrows" />
            <img class="global__img-cursor" src="..//assets/img/global/right.svg" alt="right arrows" />
        </div>
    </div>
</div>
