<header class="header">
    <div class="header__container container">
        <div class="header__menu">
            <svg viewBox="0 0 100 80" width="35" height="35" xmlns="http://www.w3.org/2000/svg">
                <rect width="90" height="8" fill="#C3C8CF"></rect>
                <rect y="30" width="90" height="8" fill="#C3C8CF"></rect>
                <rect y="60" width="90" height="8" fill="#C3C8CF"></rect>
            </svg>
        </div>

        <div class="header__logo">
            <a href="">
                <img src="../assets/img/header/logo.svg" alt="" />
            </a>
            <div class="header__select">
                Products
                <img src="../assets/img/header/arrow-bottom.svg" alt="" />
            </div>
        </div>

        <div class="header__nav">
            <a class="header__link">About Company</a>
            <a class="header__link">Why Cryptix</a>
            <a class="header__link">
                <img class="header__chat" src="../assets/img/header/chat.svg" alt="" />
                Contact Us</a
            >
            <button class="header__button button button_outlined">Login</button>
            <button class="header__button button button_success">Sign Up</button>
        </div>
    </div>
</header>
