<header class="header">
    <div class="header__container container">
        <div class="header__logo">
            <a href="">
                <img src="../assets/img/header/logo.svg" alt="" />
            </a>
            <div class="header__select">
                Products
                <img src="../assets/img/header/arrow-bottom.svg" alt="" />
            </div>
        </div>
        <div class="header__nav">
            <a class="header__link">About Company</a>
            <a class="header__link">Why Cryptix</a>
            <a class="header__link">
                <img class="header__chat" src="../assets/img/header/chat.svg" alt="" />
                Contact Us</a
            >
            <button class="header__button button button_outlined">Login</button>
            <button class="header__button button button_success">Sign Up</button>
        </div>
    </div>
</header>
