<div class="processing">
    <div class="processing__container container">
        <div class="processing__title title">Crypto Processing</div>

        <div class="processing__columns">
            <div class="processing__item accept">
                <div class="processing__subtitle">Accept Payments</div>
                <div class="processing__text text">
                    Provide your customers a diverse choice of payment options: Tether, Bitcoin, Litecoin, Ether,
                    Tronix, Binance Coin and more!
                </div>
                <a><img src="..//assets/img/processing/right-arrow.webp" alt="right-arrow" /></a>
            </div>
            <div class="processing__item">
                <div class="processing__subtitle">Real-Time Auto Conversion</div>
                <div class="processing__text text">
                    Instant crypto to fiat or stablecoin conversion enables merchants to avoid volatility and rate
                    swings. Merchant gets compensated regardless of market turbulence.
                </div>
                <a><img src="..//assets/img/processing/right-arrow.webp" alt="right-arrow" /></a>
            </div>
            <div class="processing__item">
                <div class="processing__subtitle">AML Check</div>
                <div class="processing__text text">
                    Stay informed about the crypto funds' legitimacy and keep your finances secure with our AML verified
                    transactions.
                </div>
                <a><img src="..//assets/img/processing/right-arrow.webp" alt="right-arrow" /></a>
            </div>
            <div class="processing__item">
                <div class="processing__subtitle">Mass Payouts</div>
                <div class="processing__text text">
                    Mass crypto payments are beneficial, including employee payrolls and commissions, affiliate rewards,
                    and rebates.
                </div>
                <a><img src="..//assets/img/processing/right-arrow.webp" alt="right-arrow" /></a>
            </div>
        </div>
    </div>
</div>
