<div class="promo">
    <div class="promo__container container">
        <div class="promo__text">
            <div class="promo__description">
                CRYPTIX is a crypto payment gateway that enables merchants to accept, send and exchange cryptocurrency
                payments.
            </div>
            <div class="promo__label">
                <img class="promo__img-dollar" src="..//assets/img/promo/dollar.webp" alt="" />

                <div class="promo__label-text">For Your Business</div>
            </div>
        </div>

        <div class="promo__img">
            <img class="promo__img-phone" src="../assets/img/promo/phone.webp" alt="" />
            <img class="promo__img-qr" src="..//assets/img/promo/qr.webp" alt="" />
            <img class="promo__img-dash" src="..//assets/img/promo/dash.webp" alt="" />
            <img class="promo__img-btc" src="..//assets/img/promo/btc.webp" alt="" />
            <img class="promo__img-red" src="..//assets/img/promo/red.webp" alt="" />
            <img class="promo__img-black" src="..//assets/img/promo/black.webp" alt="" />
            <img class="promo__img-token" src="..//assets/img/promo/token.webp" alt="" />
            <img class="promo__img-blue" src="..//assets/img/promo/blue.webp" alt="" />
        </div>
    </div>
</div>
