<div class="types">
    <div class="types__container container">
        <div class="types__content">
            <h3 class="types__title title">Reach different types of audience</h3>
            <div class="types__subtitle text">
                Cryptix facilitates your business growth by implementing global, transparent, fast, secure and
                affordable payment method.
            </div>
            <img src="..//assets/img/types/choose.webp" alt="choose crypto" />
        </div>

        <div class="types__image">
            <img src="..//assets/img/types/trasaction.webp" alt="transaction" />
        </div>
    </div>
</div>
