@import 'null-style.scss';
@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
@import 'font-face.scss';
@font-face {
  font-family: 'Rebond Grotesque';
  font-style: normal;
  font-weight: 700;
  src: local('Rebond'),
    url('../fonts/RebondGrotesqueBold.woff2') format('woff2'),
    url('../fonts/RebondGrotesqueBold.woff') format('woff');
}

/*Медиазапросы*/
@mixin sm {
  @media (max-width: map-get($breakpoints, sm)) {
    @content;
  }
}
@mixin md {
  @media (max-width: map-get($breakpoints, md)) {
    @content;
  }
}
@mixin lg {
  @media (max-width: map-get($breakpoints, lg)) {
    @content;
  }
}
@mixin xl {
  @media (max-width: map-get($breakpoints, xl)) {
    @content;
  }
}
/*Медиазапросы*/

body {
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
  margin: 27px 0 0 0;
  background: $background;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.title {
  font-family: 'Rebond Grotesque', sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 70px; /* 109.375% */
  letter-spacing: -0.5px;
}
.text {
  color: $text;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px; /* 136.364% */
}
.subtext {
  color: $text;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.5px;
}
.button {
  display: flex;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 90px;
  color: black;
  &_success {
    background: $success;
  }
  &_outlined {
    border: 1px solid $border;
  }
}
.header {
  color: #585858;
  font-size: 16px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @include lg {
      gap: 10px;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: 20px;
    @include lg {
      gap: 10px;
    }
    @include md {
      justify-content: left;
    }
  }
  &__menu {
    display: none;
    @include md {
      display: flex;
    }
  }

  &__select {
    padding: 0 20px;
    border-left: 1px solid #c3c8cf;
    height: 48px;
    display: flex;
    align-items: center;
    @include lg {
      padding: 0 10px;
    }
    @include md {
      display: none;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 20px;
    @include lg {
      gap: 10px;
    }
    @include md {
      margin-left: auto;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    @include md {
      display: none;
    }
  }
  &__chat {
    padding: 5px 5px;
  }
  &__button {
    @include lg {
      padding: 12px 12px;
    }
  }
}
.promo {
  padding: 24px 0;
  &__container {
    display: flex;
    gap: 20px;
    @include lg {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }

  &__label {
    max-width: 280px;
    padding: 5px 14px 5px 5px;
    display: flex;
    align-items: center;
    gap: 7px;
    border-radius: 28px;
    background: linear-gradient(0deg, #fff 0%);
    @include xl {
      max-width: 220px;
      padding: 3px 10px 3px 3px;
    }
    @include lg {
      max-width: 280px;
      padding: 5px 14px 5px 5px;
    }
    @include md {
      max-width: 220px;
      padding: 3px 8px 3px 3px;
    }
    @include sm {
      max-width: 180px;
      padding: 3px 6px 3px 3px;
    }
    &-text {
      color: #00e69a;
      font-family: Rebond Grotesque;
      font-size: 26px;
      font-weight: 600;
      line-height: 30px;
      @include xl {
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
      }
      @include lg {
        font-size: 26px;
        font-weight: 600;
        line-height: 30px;
      }
      @include md {
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
      }
      @include sm {
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
      }
    }
  }
  &__title {
    margin-top: 16px;
    color: $black;
    font-size: 78px;
    line-height: 78px; /* 100% */
    @include xl {
      font-size: 56px;
      line-height: 100%;
    }
    @include lg {
      font-size: 60px;
      max-width: 760px;
      line-height: 110%;
    }
    @include md {
      font-size: 48px;
      max-width: 610px;
      line-height: 90%;
    }
    @include sm {
      margin-top: 12px;
      font-size: 34px;
      max-width: 420px;
      line-height: 90%;
    }
  }
  &__tick {
    padding-top: 25px;
    @include xl {
      padding-top: 15px;
    }
    @include md {
      padding-top: 2px;
    }
    @include sm {
      width: 30px;
    }
  }

  &__text {
    width: 60%;
    @include xl {
      width: 55%;
    }
    @include lg {
      width: 100%;
    }
  }
  &__description {
    margin-bottom: 122px;
    width: 431px;
    color: #586068;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.5px;
    @include xl {
      margin-bottom: 60px;
    }
    @include md {
      margin-bottom: 40px;
    }
    @include sm {
      font-size: 13px;
      line-height: 22px;
      width: 300px;
      margin-bottom: 20px;
    }
  }
  &__offer {
    display: flex;
    align-items: center;
    margin-top: 70px;
    gap: 15px;
    @include xl {
      margin-top: 30px;
    }
    @include md {
      margin-top: 20px;
    }
    @include sm {
      margin-top: 10px;
      gap: 10px;
    }
  }
  &__button {
    // @include xl {
    //   padding: 10px 18px;
    //   font-size: 14px;
    // }
    @include lg {
      padding: 12px 24px;
      font-size: 16px;
    }
    @include md {
      padding: 12px 20px;
      font-size: 16px;
    }
    @include sm {
      padding: 10px 18px;
      font-size: 14px;
    }
  }
  &__img {
    margin-top: 60px;
    width: 40%;
    position: relative;
    @include xl {
      width: 45%;
    }
    @include lg {
      width: 60%;
      margin-top: 0;
    }
    &-phone {
      width: 100%;
      position: relative;
      z-index: 2;
    }

    &-qr {
      width: 100%;
      max-width: 200px;
      position: absolute;
      top: 48%;
      left: 54%;
      transform: translate(-50%, -50%);
      z-index: 3;
      @include xl {
        max-width: 170px;
      }
      @include lg {
        max-width: 190px;
      }
      @include sm {
        width: 100px;
      }
    }
    &-dash {
      position: absolute;
      top: 1%;
      left: 14%;
      z-index: 1;
      @include md {
        width: 80px;
      }
      @include sm {
        width: 60px;
      }
    }

    &-btc {
      position: absolute;
      top: 20%;
      right: 26%;
      z-index: 3;
      @include md {
        width: 80px;
      }
      @include sm {
        width: 60px;
      }
    }
    &-red {
      position: absolute;
      top: 42%;
      left: 0%;
      z-index: 3;
      @include md {
        width: 80px;
      }
      @include sm {
        width: 60px;
      }
    }
    &-black {
      position: absolute;
      bottom: 8%;
      right: 39%;
      z-index: 3;
      @include md {
        width: 80px;
      }
      @include sm {
        width: 60px;
      }
    }
    &-token {
      position: absolute;
      top: 15%;
      left: 0%;
      @include md {
        width: 80px;
      }
      @include sm {
        width: 60px;
      }
    }
    &-blue {
      position: absolute;
      top: 12%;
      right: 10%;

      @include md {
        width: 80px;
      }
      @include sm {
        width: 60px;
      }
    }
  }
}
.types {
  padding: 80px 0 0 0;
  @include lg {
    padding: 60px 0 0 0;
  }
  @include md {
    padding: 30px 0 0 0;
  }
  @include sm {
    padding: 20px 0 0 0;
  }
  background: radial-gradient(
      46.46% 189.33% at 3.33% 5.36%,
      #001d13 0%,
      #06080a 100%
    ),
    #d9d9d9;
  &__container {
    display: flex;
    gap: 10px;
    @include lg {
      display: flex;
      flex-direction: column;
    }
  }
  &__content {
    width: 50%;
    @include lg {
      width: 100%;
    }
  }
  &__title {
    margin: 0 0 24px 50px;
    color: $success;
    // max-width: 550px;
    @include xl {
      font-size: 52px;
    }
    @include lg() {
      line-height: 60px;
      margin: 0 0 20px 30px;
      max-width: 720px;
    }
    @include md() {
      max-width: 500px;
    }
    @include sm() {
      max-width: 350px;
      margin: 0 0 20px 15px;
      font-size: 36px;
      line-height: 42px;
    }
  }
  &__subtitle {
    margin: 0 0 40px 50px;
    color: #e0e0e0;
    @include lg {
      margin: 0 0 20px 50px;
    }
    @include lg() {
      max-width: 720px;
      margin: 0 0 20px 30px;
    }
    @include md() {
      max-width: 500px;
    }
    @include sm() {
      max-width: 350px;
      margin: 0 0 20px 15px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__image {
    margin-top: 140px;
    width: 50%;
    @include lg {
      margin-top: 0px;
      width: 100%;
    }
  }
  img {
    width: 100%;
  }
}
.processing {
  position: relative;
  padding: 60px 80px;
  @include md {
    padding: 30px 30px;
  }
  @include sm {
    padding: 20px 20px;
  }

  &__title {
    margin-bottom: 40px;
    color: $black;
    text-align: center;
    @include md {
      line-height: 54px;
      font-size: 44px;
    }
    @include sm {
      font-size: 35px;
      line-height: 40px;
      margin-bottom: 20px;
    }
  }
  &__columns {
    display: flex;
    gap: 30px;
    @include lg {
      display: flex;
      flex-direction: column;
    }
    @include md {
      gap: 15px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    flex: 0 1 33.333%;
    border-radius: 40px;
    background: $white;
    gap: 24px;
    &-vector {
      position: absolute;
      z-index: 2;
      bottom: 0%;
      right: 0%;
    }
    @include sm {
      gap: 14px;
    }
  }
  &-card {
    position: relative;
    z-index: 1;
    padding: 20px;
    &__subtitle {
      color: $black;
      font-family: 'Rebond Grotesque';
      font-size: 38px;
      font-weight: 700;
      line-height: 40px; /* 105.263% */
      letter-spacing: -0.5px;
      @include xl {
        line-height: 30px;
        font-size: 28px;
      }
      @include md {
        line-height: 30px;
        font-size: 28px;
      }
      @include sm {
        font-size: 22px;
        line-height: 26px;
      }
    }
    &__text {
      flex: 1 1 auto;
      @include xl {
        font-size: 16px;
        line-height: 20px; /* 136.364% */
      }
      @include sm {
        font-size: 16px;
        line-height: 20px;
      }
    }
    &.accept {
      border-radius: 40px;
      background: var(--primary, #00e69a);
    }
  }
}
.features {
  background: radial-gradient(
      46.46% 189.33% at 3.33% 5.36%,
      #001d13 0%,
      #06080a 100%
    ),
    #d9d9d9;
  &__container {
    display: flex;
    @include lg {
      display: flex;
      flex-direction: column;
    }
  }
  &__content {
    width: 60%;
    @include lg {
      width: 100%;
    }
  }

  &__title {
    max-width: 621px;
    padding: 80px 0 24px 0;
    color: $success;
    @include xl {
      font-size: 60px;
      line-height: 65px;
    }
    @include lg {
      padding: 60px 0 24px 0;
      max-width: 100%;
      text-align: center;
    }
    @include md {
      padding: 30px 0 24px 0;
      font-size: 56px;
      line-height: 62px;
    }
    @include sm {
      padding: 20px 0 14px 0;
      font-size: 36px;
      line-height: 35px;
    }
  }
  &__text {
    @include lg {
      text-align: center;
      padding-bottom: 20px;
    }
    @include md {
      font-size: 20px;
      line-height: 22px;
    }
    @include sm {
      font-size: 16px;
      line-height: 18px;
    }
  }
  &__colums {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 30px;
    max-width: 498px;
    @include lg {
      margin: 0 auto;
    }
  }
  &__item {
    padding: 12px 8px 8px 20px;
    display: flex;
    border-radius: 20px;
    background: rgba(110, 126, 133, 0.1);
    justify-content: space-between;
  }
  .item__icon {
    cursor: pointer;
  }

  &__item__content {
    display: flex;
    flex-direction: column;
  }
  .item__title {
    padding-bottom: 12px;
    color: #e0e0e0;
    @include sm {
      font-size: 20px;
      line-height: 22px;
    }
  }
  .item__text {
    @include sm {
      font-size: 14px;
      line-height: 18px;
    }
  }
  &__image {
    position: relative;
    width: 40%;
    display: flex;
    justify-content: center;
    @include lg {
      width: 100%;
    }
  }
  &__phone {
    position: relative;
    z-index: 2;
  }
  &__icon {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    @include sm {
      display: none;
    }
  }
  &__button-container {
    position: absolute;
    z-index: 3;
    top: 25%;
    left: 15%;
    @include lg {
      left: 30%;
    }
    @include md {
      left: 25%;
    }
    @include sm {
      left: 12%;
    }
  }
  &__button {
    font-weight: 500;
    background: $success;
  }
  &__tick {
    position: absolute;
    z-index: 4;
    top: 65%;
    left: 70%;
  }
  &__created {
    position: absolute;
    z-index: 5;
    top: 64%;
    left: 62%;
    @include sm {
      left: 53%;
    }
  }
}
.cards {
  padding: 82px 0 93px 0;
  @include xl {
    padding: 60px 15px 40px 15px;
  }
  @include lg {
    padding: 40px 15px 30px 15px;
  }
  @include md {
    padding: 20px 15px 10px 15px;
  }

  &__container {
    max-width: 1150px;
    margin: 0 auto;
  }
  &__group {
    position: relative;
    z-index: 2;
    gap: 39px;
    display: flex;
    @include lg {
      display: flex;
      flex-direction: column;
      gap: 0px;
    }
  }
  &__item {
    margin-bottom: 40px;
    width: 50%;
    overflow: hidden;
    border-radius: 40px;
    background: var(--complimentary, #fff);
    display: flex;
    @include lg {
      width: 100%;
      margin-bottom: 40px;
    }
    @include md {
      margin-bottom: 20px;
    }

    &-title {
      padding-bottom: 24px;
      @include lg {
        font-size: 48px;
        line-height: 54px;
      }
      @include md {
        padding-bottom: 5px;
        font-size: 36px;
        line-height: 46px;
      }
    }
    &-text {
      @include md {
        font-size: 14px;
        line-height: 22px;
      }
    }
    &_img {
      width: 100%;
    }
    &-column {
      padding: 40px;
      display: flex;
      flex-direction: column;
      @include lg {
        padding: 25px;
      }
      @include md {
        padding: 15px;
      }

      &_img {
        width: 50%;
        @include lg {
          width: 40%;
        }
        @include sm {
          width: 100%;
        }
      }
    }
    &-image {
      width: 100%;
      max-width: 50%;
      @include lg {
        max-width: 60%;
      }
      @include sm {
        display: none;
        max-width: 100%;
      }
    }
    &_green-background {
      width: 100%;
      background: var(--primary, #00e69a);
    }
    &_background {
      z-index: 3;
      background: url('..//assets/img/cards/fiat-background.webp'),
        lightgray 50% / cover no-repeat;
    }
    &_title {
      color: $white;
    }
  }
  &__title {
    font-size: 38px;
    line-height: 40px;
  }
  &__backimage {
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 30%;
    @include md {
      display: none;
    }
  }
}
.global {
  padding: 230px 0;
  max-height: 724px;
  background: radial-gradient(
      46.46% 189.33% at 3.33% 5.36%,
      #001d13 0%,
      #06080a 100%
    ),
    #d9d9d9;
  &__container {
    position: relative;
  }
  &__text-background {
    color: #586068;
    font-family: Rebond Grotesque;
    font-size: 200.945px;
    font-weight: 700;
    line-height: 236.863px; /* 107.692% */
    letter-spacing: -1.41px;
    opacity: 0.5;
    position: relative;
    z-index: 1;
    @include xl {
      text-align: center;
      font-size: 165.945px;
      line-height: 170.863px;
    }
    @include lg {
      text-align: center;
      font-size: 125.945px;
      line-height: 150.863px;
    }
    @include md {
      text-align: center;
      font-size: 94.945px;
      line-height: 120.863px;
    }
    @include sm {
      text-align: center;
      font-size: 60.945px;
      line-height: 90.863px;
    }
  }

  &__img {
    display: flex;
    gap: 12px;
    position: absolute;
    z-index: 3;
    bottom: -75%;
    right: 1%;
    &-cursor {
      cursor: pointer;
    }
    @include lg {
      gap: 10px;
    }
    @include md {
      gap: 8px;
    }
    @include sm {
      gap: 6px;
    }
  }
  &__item {
    padding: 58px 32px;
    max-width: 356px;
    top: 50%;
    left: 50%;
    border-radius: 32px;
    background: var(--complimentary, #fff);
    position: absolute;
    z-index: 2;
    transform: rotate(-8deg) translate(-50%, -50%);
    flex-shrink: 0;
    @include xl {
      padding: 44px 22px;
      max-width: 326px;
      left: 52%;
    }
    @include lg {
      padding: 34px 20px;
      max-width: 300px;
      left: 52%;
    }
    @include md {
      padding: 30px 16px;
      max-width: 260px;
      left: 52%;
    }
    @include sm {
      padding: 20px 12px;
      max-width: 200px;
      left: 52%;
    }
  }
  &__title {
    @include lg {
      font-size: 54px;
      line-height: 64px;
    }
    @include md {
      font-size: 44px;
      line-height: 56px;
    }
    @include sm {
      font-size: 30px;
      line-height: 36px;
    }
  }
  &__text {
    @include lg {
      font-size: 20px;
      line-height: 30px;
    }
    @include md {
      font-size: 18px;
      line-height: 26px;
    }
    @include sm {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
.business {
  padding: 90px 0 105px 0;
  @include xl {
    padding: 60px 0 75px 0;
  }
  @include md {
    padding: 40px 0 55px 0;
  }
  &__title {
    max-width: 705px;
    margin: 0 auto;
    text-align: center;
    @include lg {
      font-size: 56px;
      line-height: 64px;
    }
    @include md {
      font-size: 48px;
      line-height: 56px;
    }
    @include sm {
      font-size: 31px;
      line-height: 38px;
    }
  }
  &__text {
    max-width: 883px;
    margin: 0 auto;
    padding: 24px 0 54px 0;
    text-align: center;
    @include lg {
      font-size: 20px;
      line-height: 28px;
    }
    @include md {
      font-size: 18px;
      line-height: 24px;
      padding: 24px 0 34px 0;
    }
    @include sm {
      font-size: 14px;
      line-height: 20px;
      padding: 24px 0 24px 0;
    }
  }
  &__columns {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding-bottom: 79px;
    @include lg {
      gap: 14px;
    }
    @include md {
      gap: 1px;
    }
    @include sm {
      padding-bottom: 0px;
      display: block;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    width: 215px;
    gap: 24px;
    align-items: center;
    @include sm {
      gap: 12px;
      margin: 0 auto;
      padding-bottom: 10px;
    }

    &-img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
      background: $white;
      img {
        width: 54px;
      }
    }

    &-text {
      color: var(--background, #000);
      text-align: center;
      font-size: 22px;
      line-height: 28px; /* 127.273% */
      @include md {
        font-size: 18px;
        line-height: 22px;
      }
      @include sm {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
  &__block {
    max-width: 1122px;
    margin: 0 auto;
    border-radius: 48px;
    background: radial-gradient(
        46.46% 189.33% at 3.33% 5.36%,
        #001d13 0%,
        #06080a 100%
      ),
      #d9d9d9;
    display: flex;
    justify-content: space-between;
    @include lg {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  &__content {
    max-width: 583px;
    padding: 40px 0 40px 40px;
    @include lg {
      padding: 40px 0 0 40px;
    }
    @include md {
      padding: 40px 0px 0px 40px;
    }
    @include sm {
      padding: 40px 20px 40px 20px;
    }
    &-title {
      color: var(--primary, #00e69a);
      padding-bottom: 24px;
      @include xl {
        font-size: 52px;
        line-height: 58px;
      }
      @include lg {
        font-size: 64px;
        line-height: 70px;
      }
      @include md {
        font-size: 52px;
        line-height: 58px;
      }
      @include sm {
        font-size: 34px;
        line-height: 42px;
      }
    }
    &-text {
      color: #e0e0e0;
      padding-bottom: 40px;
      @include xl {
        font-size: 20px;
        line-height: 28px;
      }
      @include lg {
        font-size: 22px;
        line-height: 30px;
      }
      @include md {
        font-size: 20px;
        line-height: 28px;
      }
      @include sm {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  &__button {
    background: #00e69a;
    font-weight: 500;
  }
  &__image {
    @include lg {
      text-align: right;
    }
    @include sm {
      display: none;
    }
  }
}
.footer {
  padding-top: 53px;
  background: radial-gradient(
      46.46% 189.33% at 3.33% 5.36%,
      #001d13 0%,
      #06080a 100%
    ),
    #d9d9d9;
  &__container {
    max-width: 1200px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__nav {
    display: flex;
    gap: 32px;
    @include md {
      gap: 12px;
    }
    @include sm {
      display: none;
    }
  }
  &__menu {
    display: none;
    @include sm {
      display: flex;
    }
  }
  &__link {
    cursor: pointer;
    color: var(--complimentary, #fff);
    @include md {
      font-size: 14px;
      line-height: 43px;
    }
  }
  &__text {
    padding: 26px 0 14px 0;
    max-width: 688px;
    color: #586068;
    font-size: 12px;
    line-height: 16px; /* 133.333% */
    letter-spacing: -0.5px;
  }
  &__img {
    display: flex;
    gap: 5px;
    &-visa {
      margin-top: 4px;
    }
  }
  &__subtext {
    padding: 14px 0 24px 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px; /* 138.462% */
  }
}
