@import 'null-style.scss';
@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
@import 'font-face.scss';
@font-face {
  font-family: 'Rebond Grotesque';
  font-style: normal;
  font-weight: 700;
  src: local('Rebond'),
    url('../fonts/RebondGrotesqueBold.woff2') format('woff2'),
    url('../fonts/RebondGrotesqueBold.woff') format('woff');
}

/*Медиазапросы*/
@mixin sm {
  @media (max-width: map-get($breakpoints, sm)) {
    @content;
  }
}
@mixin md {
  @media (max-width: map-get($breakpoints, md)) {
    @content;
  }
}
@mixin lg {
  @media (max-width: map-get($breakpoints, lg)) {
    @content;
  }
}
@mixin xl {
  @media (max-width: map-get($breakpoints, xl)) {
    @content;
  }
}
/*Медиазапросы*/

body {
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
  margin: 27px 0 0 0;
  background: $background;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.title {
  font-family: 'Rebond Grotesque', sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 70px; /* 109.375% */
  letter-spacing: -0.5px;
}
.text {
  color: $text;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px; /* 136.364% */
}
.subtext {
  color: $text;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.5px;
}
.button {
  display: flex;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 90px;
  color: black;
  &_success {
    background: $success;
  }
  &_outlined {
    border: 1px solid $border;
  }
}
.header {
  color: #585858;
  font-size: 16px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__select {
    padding: 0 20px;
    border-left: 1px solid #c3c8cf;
    height: 48px;
    display: flex;
    align-items: center;
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__link {
    display: flex;
    align-items: center;
  }
  &__chat {
    padding: 5px 5px;
  }
}
.promo {
  padding: 24px 0;
  &__container {
    display: flex;
    gap: 20px;
  }

  &__label {
    max-width: 280px;
    padding: 5px 14px 5px 5px;
    display: flex;
    align-items: center;
    gap: 7px;
    border-radius: 28px;
    background: linear-gradient(0deg, #fff 0%);
    &-text {
      color: #00e69a;
      font-family: Rebond Grotesque;
      font-size: 26px;
      font-weight: 600;
      line-height: 30px;
    }
  }
  &__title {
    margin-top: 16px;
    color: $black;
    font-size: 78px;
    line-height: 78px; /* 100% */
  }
  &__tick {
    padding-top: 25px;
  }
  &__text {
    width: 60%;
  }
  &__description {
    margin-bottom: 122px;
    width: 431px;
    color: #586068;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.5px;
  }
  &__offer {
    display: flex;
    align-items: center;
    margin-top: 70px;
    gap: 15px;
  }

  &__img {
    width: 40%;
    position: relative;
    &-phone {
      position: relative;
      z-index: 2;
    }

    &-qr {
      position: absolute;
      top: 50%;
      left: 72%;
      transform: translate(-50%, -50%);
      z-index: 3;
    }
    &-dash {
      position: absolute;
      top: 1%;
      left: 25%;
      z-index: 1;
    }
    &-btc {
      position: absolute;
      top: 22%;
      left: 68%;
      z-index: 3;
    }
    &-red {
      position: absolute;
      top: 50%;
      left: 3%;
      z-index: 3;
    }
    &-black {
      position: absolute;
      top: 71%;
      left: 51%;
      z-index: 3;
    }
    &-token {
      position: absolute;
      top: 25%;
      left: 1%;
    }
    &-blue {
      position: absolute;
      top: 12%;
      left: 85%;
    }
  }
}
.types {
  padding: 80px 0 0 0;
  background: radial-gradient(
      46.46% 189.33% at 3.33% 5.36%,
      #001d13 0%,
      #06080a 100%
    ),
    #d9d9d9;
  &__container {
    display: flex;
    gap: 10px;
  }
  &__content {
    width: 50%;
  }
  &__title {
    margin: 0 0 24px 50px;
    color: $success;
    max-width: 550px;
  }
  &__subtitle {
    margin: 0 0 40px 50px;
    color: #e0e0e0;
  }
  &__image {
    margin-top: 140px;
    width: 50%;
  }
  img {
    width: 100%;
  }
}
.processing {
  padding: 60px 80px;
  &__title {
    margin-bottom: 40px;
    color: $black;
    text-align: center;
  }
  &__columns {
    display: flex;
    gap: 30px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    flex: 0 1 33.333%;
    border-radius: 40px;
    background: $white;
    gap: 24px;
  }
  .processing-card {
    padding: 20px;
    &__subtitle {
      color: $black;
      font-family: 'Rebond Grotesque';
      font-size: 38px;
      font-weight: 700;
      line-height: 40px; /* 105.263% */
      letter-spacing: -0.5px;
    }
    &__text {
      flex: 1 1 auto;
    }
    &.accept {
      border-radius: 40px;
      background: var(--primary, #00e69a);
    }
  }
}
.features {
  background: radial-gradient(
      46.46% 189.33% at 3.33% 5.36%,
      #001d13 0%,
      #06080a 100%
    ),
    #d9d9d9;
  &__container {
    display: flex;
  }
  &__content {
    width: 50%;
  }
  &__title {
    width: 621px;
    padding: 80px 0 24px 0;
    color: $success;
  }
  &__colums {
    margin-top: 30px;
    max-width: 498px;
  }
  &__item {
    margin-top: 10px;
    padding: 12px 8px 8px 20px;
    display: flex;
    border-radius: 20px;
    background: rgba(110, 126, 133, 0.1);
    justify-content: space-between;
  }
  &__item__content {
    display: flex;
    flex-direction: column;
  }
  .item__title {
    padding-bottom: 12px;
    color: #e0e0e0;
  }
  &__image {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
  }
  &__phone {
    position: relative;
    z-index: 2;
  }
  &__icon {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  &__button {
    position: absolute;
    z-index: 3;
    font-weight: 500;
    background: $success;
    top: 25%;
    left: 18%;
  }
  &__tick {
    position: absolute;
    z-index: 4;
    top: 29%;
    left: 29%;
  }
  &__created {
    position: absolute;
    z-index: 5;
    top: 64%;
    left: 62%;
  }
}
