$white: #ffffff;
$black: #060606;
$primary: #152a37;
$blue: #0087b2;
$border: #cdcfd3;
$inactive: #585858;
$text: #586068;
$success: #00e69a;
$background: #f5f5f5;
$breakpoints: (
  'xs': 320px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);
